<div class="p-x-20">
  <ng-hackers-header title="web-subscription-manager"></ng-hackers-header>

  <h2>Nx</h2>

  An open source toolkit for enterprise Angular applications. Nx is designed to
  help you create and build enterprise grade Angular applications. It provides
  an opinionated approach to application project structure and patterns.

  <h3>Quick Start & Documentation</h3>

  <a href="https://nx.dev"
    >Watch a 5-minute video on how to get started with Nx.</a
  >

  <h1>{{ 'welcome' | translate }}!</h1>
  <h3>Try things out</h3>

  <a href="https://nstudio.io/xplat">Learn more about xplat.</a>
</div>
